<div class="home-intro">
  <div #starsContainer class="stars-container"></div>
  <h1>ANJANA SRUTHI RANGA</h1>
  <p class="dynamic-text">
    I'm a <span class="changing-word">{{ currentWord }}</span>
  </p>

  <div class="home-links">
    <a routerLink="/about">About Me</a>
    <a routerLink="/education">Education</a>
    <a routerLink="/experience">Experience</a>
    <a routerLink="/skills">Skills</a>
    <a routerLink="/projects">Projects</a>
    <a routerLink="/contactForm">Contact Me</a>
  </div>
</div>
