/* styles.scss */
html {
    scroll-behavior: smooth;
  }  

/* Light Theme */
:root {
    --background-color: #b2a8a8ac;
    --text-color: #333333;
    --nav-background: #807373;
    --nav-text: #ffffff;
  }
  
  /* Dark Theme */
  [data-theme="dark"] {
    --background-color: #121212;
    --text-color: #c2ccd7;
    --nav-background: #a1b6ce;
    --nav-text: #000000;
  }
  
  /* Use these variables in your styles */
  body {
    background-color: var(--background-color);
    color: var(--text-color);
  }
  