<div class="experience-container">
  <h2>My Experience</h2>
  <div class="card-stack">
    <div *ngFor="let job of experienceList" class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <h3>{{ job.title }}</h3>
          <h4 class="company">{{ job.company }}</h4>
          <h3 class="date">{{ job.dates }}</h3>
        </div>
        <div class="flip-card-back">
          <p class="description">{{ job.description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
