.experience-container {
  text-align: center;
  padding: 5rem;
  background: var(--background-color);
  h2 {
    font-size: 2.5rem;
    color: var(--text-color);
    margin-bottom: 5rem;
    letter-spacing: 2px;
  }

  .timeline {
    position: relative;
    margin: 2rem 0;
    padding: 1rem;
    &::before {
      content: '';
      position: absolute;
      left: 50%;
      top: 0;
      bottom: 0;
      width: 3px;
      background: #ccc;
      transform: translateX(-50%);
    }
    .timeline-item {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 3rem;
      &:nth-child(even) {
        flex-direction: row-reverse;
      }
      .timeline-dot {
        background: #4c719a;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }

      .timeline-content {
        width: 45%;
        padding: 1rem;

        .card {
          background: #fff;
          border-radius: 12px;
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
          overflow: hidden;
          
          &:hover {
            transform: translateY(-10px);
            box-shadow: 0 10px 20px var(--nav-background);
          }
          
          .card-header {
            background: #c5c4c4;
            padding: 1rem;

            .company-info {
              display: flex;
              align-items: center; 
              justify-content: center;
              margin-bottom: 0.5rem; 
          
              .company-logo {
                width: 40px; 
                height: 30px;
                object-fit: contain; 
                border-radius: 5px; 
              }
          
              .company {
                font-size: 1.5rem;
                font-weight: bold;
                color: #383838;
              }
            }          

            .job-title {
              font-size: 1.5rem;
              font-weight: bold;
              margin-bottom: 0.5rem;
              color: #333;
            }

            .date {
              font-size: 0.9rem;
              color: #6a6969;
            }
          }
          .card-body {
            padding: 1rem;
            .description {
              font-size: 0.95rem;
              margin-bottom: 1rem;
              color: #555;
            }
            .skills {
              display: flex;
              flex-wrap: wrap;
              gap: 0.5rem;
              .skill-tag {
                background: #4c719a;
                color: #fff;
                padding: 0.3rem 0.6rem;
                border-radius: 5px;
                font-size: 0.8rem;
              }
            }
          }
        }
      }
    }
  }
}
