<div #appWrapper>
  <header #appHeader>
    <nav class="nav-container">
      <ul>
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/education">Education</a></li>
        <li><a routerLink="/experience">Experience</a></li>
        <li><a routerLink="/skills">Skills</a></li>
        <li><a routerLink="/projects">Projects</a></li>
      </ul>
      <!-- Toggle Button for Theme Switch -->
      <button class="theme-toggle-button" (click)="toggleTheme()">
        <span class="toggle-indicator"></span>
      </button>
    </nav>
  </header>

  <!-- Main Content Container -->
  <div class="main-container">
    <router-outlet></router-outlet>
    <!-- Placeholder for additional content -->
  </div>
</div>
