<div #appWrapper>
  <header #appHeader>
    <nav class="nav-container">
      <ul>
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/education">Education</a></li>
        <li><a routerLink="/experience">Experience</a></li>
        <li><a routerLink="/skills">Skills</a></li>
        <li><a routerLink="/projects">Projects</a></li>
      </ul>
      <button class="theme-toggle-button" (click)="toggleTheme()">
        <span class="toggle-indicator"></span>
      </button>
    </nav>
  </header>

  <div class="main-container">
    <!-- Two-column layout section -->
    <div class="content-body">
      <div class="image-column">
        <img src=".Assets/Profile_photo.jpg"/>
      </div>
      <div class="text-column">
        <h2>Anjana Sruthi Ranga</h2>
        <p>Looking for someone who can turn complex data into actionable insights? I'm a passionate professional pursuing an MS in Information Systems with a focus on Data and Business Intelligence at Northeastern University. With a strong background in software engineering, mobile and web app development, and identity and access management from my time at Accenture, I'm shifting towards leveraging data to drive strategic decisions.
          I've worked with Java, Python, JavaScript, NodeJS, MongoDB, MySQL, and BI tools like Power BI and Tableau. My projects reflect my passion for using data and AI to create impactful solutions—think AI-powered agricultural insights and innovative assistive devices.
          Ready to transform data into strategies that fuel success and innovation? Let's connect!</p>
      </div>
    </div>

    <!-- Timeline section -->
    <div class="timeline">
      <div class="timeline-item">
        <div class="timeline-icon"></div>
        <div class="timeline-content right">
          <h3>Software Engineer</h3>
          <p class="timeline-date">2022-Present | Mountain View, CA</p>
          <p>Worked on a team responsible for improving Google's search engine, including the relevance of search results and data analysis and visualization.</p>
        </div>
      </div>
      <div class="timeline-item">
        <div class="timeline-icon"></div>
        <div class="timeline-content left">
          <h3>Intern Facebook</h3>
          <p class="timeline-date">Summer 2021 | Menlo Park, CA</p>
          <p>Worked on a team responsible for a feature that allowed users to discover content, including designing the interface and developing the feature.</p>
        </div>
      </div>
      <div class="timeline-item">
        <div class="timeline-icon"></div>
        <div class="timeline-content right">
          <h3>Software Developer</h3>
          <p class="timeline-date">2020-2021 | Seattle, WA</p>
          <p>Worked on a team responsible for an app, including implementing recommendations and improving performance and reliability.</p>
        </div>
      </div>
      <div class="timeline-item">
        <div class="timeline-icon"></div>
        <div class="timeline-content right">
          <h3>Software Developer</h3>
          <p class="timeline-date">2020-2021 | Seattle, WA</p>
          <p>Worked on a team responsible for an app, including implementing recommendations and improving performance and reliability.</p>
        </div>
      </div>
      <div class="timeline-item">
        <div class="timeline-icon"></div>
        <div class="timeline-content right">
          <h3>Software Developer</h3>
          <p class="timeline-date">2020-2021 | Seattle, WA</p>
          <p>Worked on a team responsible for an app, including implementing recommendations and improving performance and reliability.</p>
        </div>
      </div>
    </div>
  </div>
</div>
