<!-- Conditionally Render Header -->
<header *ngIf="router.url !== '/'" class="navbar">
  <nav>
    <a routerLink="/" class="nav-link">Home</a>
    <a routerLink="/about" class="nav-link">About</a>
    <a routerLink="/education" class="nav-link">Education</a>
    <a routerLink="/experience" class="nav-link">Experience</a>
    <a routerLink="/skills" class="nav-link">Skills</a>
    <a routerLink="/projects" class="nav-link">Projects</a>

    <!-- Toggle Switch -->
    <div class="theme-toggle">
      <input type="checkbox" id="theme-switch" (change)="toggleTheme()" [checked]="theme === 'dark'"/>
      <label for="theme-switch" class="toggle-label">
        <span class="toggle-on">🌞</span>
        <span class="toggle-off">🌜</span>
      </label>
    </div>
  </nav>
</header>

<main [@routeAnimations]="prepareRoute(outlet)">
  <router-outlet #outlet="outlet"></router-outlet>
</main>

<!-- Floating Contact Button -->
<button class="contact-floating-button" (click)="scrollToContact()">
  <svg class="text-path" viewBox="0 0 100 100">
    <path id="circle" d="M 50, 50 m -40, 0 a 40,40 0 1,1 80,0 a 40,40 0 1,1 -80,0"/>
    <text>
      <textPath href="#circle" startOffset="20%" text-anchor="middle">CONTACT ME</textPath>
    </text>
  </svg>
  <span class="contact-icon">📬</span>
</button>
