<div class="education-container">
  <h2>My Education</h2>
  <div class="education-grid">
    <div *ngFor="let edu of educationList" class="education-card">
      <div class="card-header">
        <img [src]="edu.logo" alt="{{ edu.institution }} Logo" class="college-logo" />
        <div class="header-details">
          <h4>{{ edu.degree }}</h4>
          <p class="institution">{{ edu.institution }}</p>
          <p class="cgpa"><b>CGPA:</b> {{ edu.cgpa }}</p>
        </div>
      </div>      
      <div class="card-body">      
        <p>Relevant Courses:</p>
        <ul class="description">
          <li *ngFor="let line of edu.description"> {{ line }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
