.education-container {
  text-align: center;
  padding: 5rem;

  h2 {
    font-size: 2rem;
    color: var(--text-color);
    margin-bottom: 3rem;
  }

  .education-grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
  }

  .education-card {
    background-color: #bbafaf;
    padding: 1.5rem;
    border-radius: 35px;
    box-shadow: 0 4px 8px var(--text-color);
    width: 100%;
    max-width: 350px;
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: left;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 16px var(--text-color);
    }

    h3 {
      font-size: 1.3rem;
      color: var(--text-color);
      margin-bottom: 0.5rem;
    }

    .institution, .year, .description {
      font-size: 1rem;
      color: #666;
    }

    .institution {
      font-weight: bold;
      margin-bottom: 0.3rem;
    }

    .year {
      font-size: 0.9rem;
      color: #888;
      margin-bottom: 0.5rem;
    }
  }
}
