<div id="about" class="about-container">
    <section class="intro" @fadeIn>
      <div class="intro-content">
        <img src="/assets/About/Profile_Photo.jpg" alt="Profile Image" class="intro-image" />
        <div class="intro-text">
          <h1>Welcome to My Portfolio</h1>
          <p>Hi there! I’m Anjana -- a curious problem solver with a knack for weaving technology and security into seamless digital experiences. With a strong foundation in Identity and Access Management, I’ve spent two years pioneering secure solutions at Accenture, making user experience and security work hand in hand. My journey has been driven by the belief that technology should empower people, not complicate their lives.

          <!-- Social Media Links -->
          <div class="social-links">
            <a href="https://www.linkedin.com/in/anjana-sruthi-ranga-164148211/" target="_blank" class="social-icon" aria-label="LinkedIn">
              <i class="fab fa-linkedin"></i>
              <span class="tooltip">LinkedIn</span>
            </a>
            <a href="https://github.com/AnjanaSruthiR?tab=repositories" target="_blank" class="social-icon" aria-label="GitHub">
              <i class="fab fa-github"></i>
              <span class="tooltip">GitHub</span>
            </a>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div id="what-i-do" class="what-i-do">
    <h2>What I Do</h2>
    <div class="services">
      <div class="service-card">
        <i class="fas fa-laptop-code"></i>
        <h3>Software Development</h3>
        <p>Building responsive, user-friendly applications using Angular, SCSS, and more.</p>
      </div>
      <div class="service-card">
        <i class="fas fa-shield-alt"></i>
        <h3>Security Engineering</h3>
        <p>Designing secure systems with IAM and MFA to safeguard applications.</p>
      </div>
      <div class="service-card">
        <i class="fas fa-globe"></i>
        <h3>Web App Development</h3>
        <p>Creating high-performing web applications with resposive web design and deliver visually captivating and highly functional applications.</p>
      </div>
      <div class="service-card">
        <i class="fas fa-mobile-alt"></i>
        <h3>Mobile App Development</h3>
        <p>Creating high-performing apps with Kotlin, Swift, and a focus on seamless UX.</p>
      </div>
    </div>
  </div>